@import "assets/styles/_mixins.scss";
@import "assets/styles/_variables.scss";

.typesbook {
  --tw-bg-opacity: 1;
  background-color: #c8c8c8;
  padding: 100px 0 50px 0;
  .hot-categories{
    font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  align-items: center;
  color: #064532;
  }
}
