@import "assets/styles/_mixins.scss";
@import "assets/styles/_variables.scss";

.hotproducts {
  --tw-bg-opacity: 1;
  background-color: rgba(226, 232, 240, var(--tw-bg-opacity));
  padding: 100px 0 50px 0;
}
