.container-chatbot{
  position: fixed;
  bottom: 20px;
  right: -55px;
  width: 500px;
  height: 563px;
}
.circleBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  height:55px;
  width:55px;
  border-radius:  50%;
  margin: 5px;
  border: none;
  background-color: #ffffff;
}

.msginp{
  width:100%;
  height:55px;
  border-radius: 50px 50px 50px 50px;
  margin-top: 5px;
  margin-left: 5px;
  border: none;
  padding-left: 10px;

}

.cola{
  height:65px;
  width:65px;
  padding-left: 0px;
}
.msgalignend{
  display: flex;
  justify-content: flex-end;
  
}
.msgalignstart{
  display: flex;
  justify-content: flex-start;
  min-height: 5px;
  
}

.botmsg{
  font-size: 16px;
  background-color: #c8c6c6;
  padding-left: 15px;
  padding-right: 15px;
  height:auto;
  min-height: 45px;
  padding-top: 6px;
  padding-bottom: 4px;
  border-radius: 25px;
  max-width: 20rem;
}

.usermsg{
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 16px;
  background-color: #000000;
  padding-left: 15px;
  padding-right: 15px;
  height:auto;
  min-height: 45px;
  padding-top: 6px;
  padding-bottom: 4px;
  border-radius: 25px;
  max-width: 20rem;
  
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #F1592B; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#F1592B; 
}

.botIcon{
  font-size: 45px;
  border : 1px solid black;
  border-radius: 50px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

.userIcon{
  font-size: 40px;
  border : 1px solid black;
  border-radius: 50px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;

}

.sendBtn{
  font-size:16px;
  width: 19.46px;
}
