@import "assets/styles/_mixins.scss";
@import "assets/styles/_variables.scss";

.searchbar {
  border-radius: 5px;
  --tw-bg-opacity: 1;
  background-color: rgba(248, 250, 252, var(--tw-bg-opacity));
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  @include atLgScreen {
    padding: 15px 5px;
  }
}

.searchbar__search {
  display: flex;
  justify-content: center;

  &-input {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 0 20px;
    width: 50%;

    @include atLgScreen {
      width: 80%;
    }
  }

  &-btn {
    margin-left: 10px;
    width: 10%;

    @include atLgScreen {
      width: 20%;
    }
  }
}

.searchbar__types {
  width: 60%;
  overflow-x: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;

  & button {
    margin-right: 10px;
    margin-bottom: 10px;
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: rgb(255, 185, 35);
  }

  @include atLgScreen {
    display: block;
    width: 100%;
  }
}

.searchbar__links {
  width: 60%;
  margin: auto;
  margin-top: 15px;
  color: rgb(23, 128, 214);
  cursor: pointer;

  @include atLgScreen {
    width: 100%;
  }
}

.currentsearch {
  width: 60%;
  margin: auto;

  &__title {
    display: flex;
    justify-content: space-between;
    & button {
      font-size: medium;
    }
  }

  @include atLgScreen {
    width: 100%;
  }
  &__links {
    margin-top: 10px;
  }

  &__types {
    margin-top: 10px;

    & button {
      --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      margin-right: 10px;
      margin-bottom: 10px;
      background-color: white;
      color: black;
    }
  }
}
