@import 'assets/styles/_mixins.scss';
@import 'assets/styles/_variables.scss';

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 111;
  background-color: $bg-white;
}
.navbar {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 100px 0;
  display: flex;
  align-items: center;
  color: $text-color-black;
}

.navbar__logo {
  display: flex;
  align-items: center;
  font-size: $title-size;
  font-weight: 500;
  @include atLgScreen {
    font-size: $header-size;
  }
  & svg {
    height: 3rem;
    padding-bottom: 0.25rem;
  }
}
.navbar__logo:hover {
  color: rgb(0, 153, 255);
}
.navbar__links {
  display: flex;
  align-items: center;

  @include atLgScreen {
    display: none;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.089);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content ul {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
.dropdown-content a:hover {
  background-color: white;
  color: rgb(0, 153, 255);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.navbar__link {
  margin: 0 10px;
}
.navbar__link:hover {
  color: rgb(0, 153, 255);
}
.navbar__cart {
  margin: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 8px;
  border-radius: 50%;
  position: relative;
  background-color: $bg-white;

  &-count {
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 9pt;
    font-weight: 600;
    border-radius: 50%;
    padding: 3px 7px;
    color: white;
    background-color: red;
  }
}
.navbar__cart:hover {
  color: rgb(0, 153, 255);
}
.navbar__btn {
  border-radius: 5px;
  padding: 5px 20px;
  color: $text-color;
}

.navbar__menu-icon {
  display: none;

  @include atLgScreen {
    display: flex;
  }
}

.navbar__user {
  display: flex;
  align-items: center;
  margin-right: 20px;

  &-avt {
    margin-right: 5px;
    padding: 8px;
    border-radius: 50%;
    width: 50px;
  }

  &-name {
    font-weight: 600;
  }
}
.navbar__user:hover {
  color: rgb(0, 153, 255);
}
.navbar__hidden {
  display: none;
  transition: all 0.3s;

  @include atLgScreen {
    display: flex;
  }
}

.navbar__cart-hidden {
  position: fixed;
  bottom: 10px;
  right: 5px;
  z-index: 100;
}

.menu-hidden {
  padding-top: 15px;
  position: fixed;
  top: 64px;
  right: 0;
  width: 50%;
  height: calc(100% - 55px);
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.658);
  color: $text-color;
  display: block;
  text-align: center;

  &-link {
    display: block;
    font-size: large;
  }

  &-close {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
